@charset 'utf-8';

@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
// @include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
// @include foundation-button;
// @include foundation-button-group;
// @include foundation-close-button;
@include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;
// Basic components
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-callout;
// @include foundation-card;
// @include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// Containers
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
// @include foundation-dropdown-menu;

// Layout components
// @include foundation-off-canvas;
// @include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
// @include foundation-top-bar;

// Helpers
// @include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;


body {
  @include breakpoint(medium) {
    background: $white;
    background: linear-gradient(-140deg, rgba(255, 105, 200,0.2) 20%, rgba(255,255,255,0.2) 45%, rgba(255,255,255,0.2) 55%, rgba(0,255,216,0.2) 80%);
  }
}

$weights: 100,200,300,400,500,600,700,800,900;
@each $weight in $weights {
  .text-#{$weight} {
    font-weight: $weight;
  }
}

h6 {
  margin-bottom: $global-margin / 2;
}

.header {
  background: rgb(82,184,168);
  background: linear-gradient(15deg, rgba(82,184,168,1) 0%, rgba(59,155,233,1) 100%);
  color: White;
  padding: 6vw 3vw;
  position: relative;
  box-shadow: 0 0 10rem 5rem rgba(0,140,255,0.2);
  border-bottom: 1px solid $white;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: $white;
    background: linear-gradient(160deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    mix-blend-mode: multiply;
  }

  .header--name {
    font-size: calc(2rem + 3.5vw);
    font-weight: 200;
    letter-spacing: -0.02em;
    word-spacing: 0.04em;
    margin-bottom: 0;
  }

  .header--roles {
    font-size: calc(1rem + 1.25vw);
    font-weight: 100;
    margin-bottom: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
  }

  .header--summary {
    font-size: calc(1rem + 0.5vw);
    padding-bottom: rem-calc(10);
    margin-bottom: 2vw;
  }

  > * {
    position: relative;
    z-index: 3;
  }

  .header--name,
  .header--roles,
  .header--summary {
    padding-bottom: rem-calc(6);
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(linear,left top,right bottom,from(#bbffff),to($white));
    background: -o-gradient(linear,left top,right bottom,from(#bbffff),to($white));
    -webkit-background-clip: text;
  }
}

.menu {

  li {

    @include breakpoint(large) {
      margin-right: 1em;
    }

    @include breakpoint(xlarge) {
      margin-right: calc(1em + 1vw);
    }
  }

  a {
    font-weight: 900;

    span {
      text-decoration: underline;
      border-bottom: 1px solid transparent;
      display: inline-block;
      line-height: 1.5;
    }

    &:hover span {
      text-decoration: none;
      transition: all 0.5s ease-out;
      transition-delay: 0.1s;
    }
  }

  .header & a {
    color: #bbffff;
    &:hover {
      color: $white;
      span { border-bottom-color: #bbffff; }
    }
  }

  .footer & a {
    &:hover {
      span { border-bottom-color: $anchor-color; }
    }
  }

  i {
    margin-right: 0.25em;
  }
}

.main {
  padding: 6vw 3vw;

  h3 {
    letter-spacing: -0.02em;
  }
}

.dates {
  font-size: 0.75em;
  font-weight: 300;
}

.callout {
  box-shadow: 0 0 2rem 1rem rgba(0,140,255,0.1);
}

.inline-list  {
  li {
    display: inline-block;
    margin-right: $global-margin;
  }

  .fa-check {
    // color: rgba(59,155,233,0.8);
    color: HotPink;
    margin-right: 0.125em;
  }
}

.more-link {
  @include button-dropdown(0.6em, rgba(59,155,233,0.8), 0); // $size, $color, $offset
  padding: 0.5rem 4vw 1.25rem;
  opacity: 0.5;
  transition: transform 0.1s ease-in-out;
  // background-color: HotPink;
  transform-origin: 50% 35%;
  margin-bottom: -1rem;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &.up {
    transform: scaleY(-1);
    margin-bottom: 0;
  }
}

.image-list {

  li {
    width: calc(20% - #{$global-margin});
  }

  img {
    transform-origin: 20% 20%;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.5);
    }
  }
}

#pro-scrum-master-badge {
  width: 5rem;
}

#yeti {
  width: 11rem;
}

.footer {
  background-color: White;
  box-shadow: 0 0 4rem 1rem rgba(0,140,255,0.1);
  padding: 6vw 3vw 12vw;
  position: relative;
  overflow: hidden;
}

.medium-right-margin {
  @include breakpoint(medium) {
    margin-right: $global-margin;
  }
}

.screenshot {
  border: 0.5rem solid White;
  border-radius: $global-radius;
  box-shadow: 0 0 2rem 1rem rgba(0,140,255,0.1);
}
